.book {
    position: absolute;
    top: 20vh;
    left: 40vw;
    background-color: lightcyan;
    height: 500px;
    width: 500px;
  }

  .backdrop {
    background-image: none;
    background-size: cover;
    height: 57vh;
    width: 33vw;
    margin:8vh 50vw;
    border-radius: 30px;
    border: 0px solid black;
    box-shadow: 4px 4px 20px 0px black;
  }