.book {
  position: absolute;
  top: -60vh;
  left: 30vw;
  background-color: lightgray;
  height: 450px;
  width: 800px;
  overflow-y:scroll;
}

.backdrop {
  background-image: none;
  background-size: cover;
  height: 57vh;
  width: 33vw;
  margin:8vh 50vw;
  border-radius: 30px;
  border: 0px solid black;
  box-shadow: 4px 4px 20px 0px black;
}

form, .list {
  display: flex;
  flex-direction: column;
}

.list {
  padding: 5px;
}

.recipeBookNav {
  position: absolute;
  top: 75vh;
  left: 8vw;
}

.bookOptions {
  margin: 10px;
  padding: 7px;
  background-color: gray;
  border-radius: 10px;
}

.amount {
  height: 19px;
  width: 7ch;
}

.ingredient {
  width: 47ch;
}

.recipeTitle, .directions {
  width: 70ch;
}

.recipeTitleDisplay{
  font-weight: bolder;
  font-size: x-large;
}

.directions{
  height: 20ch;
  white-space: pre-wrap;
}

.listDirections{
  max-width: 70ch;
  word-wrap: break-word;
}


select {
  padding: 0.8px;
}

.submit{
  margin: 5px 200px;
  height: 5ch;
  width: 20ch;
  border-radius: 20px;
  background-color: gray;
}

.addSubtractButtons {
  margin-left: 5px;
  padding:0 5px;
  /* border: 1px solid black; */
}